<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Nextagram</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/" >Home <span class="sr-only">(current)</span></a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.show',username=current_user.username) }}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.edit',id=current_user.id) }}">Edit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('images.new',id=current_user.id) }}">Upload</a>
        </li>
        <div class="dropdown is-right">
          <div class="dropdown-trigger">
            <a id="showRequest" class="nav-link" aria-haspopup="true" aria-controls="dropdown-menu3">
              Feeds
            </a>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <div class="px-4 mb-2">
                <h6 class="m-0">{{current_user.get_request()|length}} Follow Requests</h6>
                <small class="text-secondary">Approve or ignore requests</small>
              </div>
              {% for request in current_user.get_request() %}
                <div class="dropdown-item d-flex justify-content-between">
                  <a style="text-decoration: none;color:black" href="{{url_for('users.show',username=request.fan.username)}}">
                    <img src="{{request.fan.profile_image_url() }}" width="48" class="img-thumbnail rounded-circle" alt="profile_image" />
                    <span>{{request.fan.username}}</span>
                  </a>
                  <div class="align-self-center">
                    <a class="btn btn-primary btn-sm" href="{{url_for('followings.update',fan_id=request.fan.id)}}">Confirm</a>
                    <a class="btn btn-outline-dark btn-sm" href="{{url_for('followings.destroy',fan_id=request.fan.id)}}">Delete</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <li class="nav-item">
          <form action="{{ url_for('sessions.destroy') }}" method="POST" class="form-inline my-2 my-lg-0">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button class="btn  my-2 my-sm-0 pl-0 text-muted" style="background-color: rgba(0,0,0,0);" type="submit">Sign Out</button>
          </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('sessions.new') }}">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('users.new') }}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
</nav>
<script>
  $("#showRequest").click(function(){
    if ($(".dropdown").hasClass("is-active")){
      $(".dropdown").removeClass("is-active")

    }else{
      $(".dropdown").addClass("is-active")
    }
  })
</script>
  